table, th, td
{
    border: 2px solid #000;
}

.commandsBox {
    white-space: pre-wrap;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: lightcyan;
    padding: 1em;
    border: 2px solid black;
}

.keyword
{
    color: blue;
}

.acceptButton {
    margin: 0.5em;
    background-color: #ccffcc;
}

.err {
    width: fit-content;
    min-width: 40%;
    padding: 1.5em 1em 1.5em 1em;
    font-weight: bold;
    background-color: #ffaaaa;
    border: 2px solid black;
}

.info {
    width: fit-content;
    min-width: 40%;
    padding: 1.5em 1em 1.5em 1em;
    font-weight: bold;
    background-color: #aaaaff;
    margin-bottom: 1em;
    border: 2px solid black;
}

.radioButton
{

}

.commandLine {
    margin-bottom: 0.8em;
}

.upperButton {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    background-color: lightsteelblue;
    border: 3px solid black;
}

.upperButtonContainer
{

}
tbody tr {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    text-align: center;
}
tbody tr:nth-child(even) {
    background-color: lightcyan;
}
tbody tr:nth-child(odd) {
    background-color: lightblue;
}
thead tr
{
    background-color: lightgreen;
    font-weight: bold;
    text-align: center;
}

.edit
{
    background-color: lightyellow;
    min-width: 60px;
}

.drop {
    background-color: #ffcccc;
    min-width: 60px;
}

.activate
{
    background-color: #ccffcc;
}

.dropai
{

}

.upperSelect
{
    margin-bottom: 0.5em;
}

.formElementWrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    /*justify-content: space-between;*/
    justify-content: flex-start;
    padding: 5px;
    align-items: center
}

.formLabel
{
    width: 50%;
}

.formElement {
    display: flex;
    width: 50%;
}

.formWrapper
{
    max-width: 70%;
    border: 3px solid black;
    margin-bottom: 1em;
}

.formElement input
{
    width: 100%;
    min-width: 150px;
    height: 2em;
    border: 2px solid black
}

.upperSelect {
    min-width: 150px;
    height: 2em;
    border: 2px solid black; 
    background-color: #ccffcc;
}

.formElement select {
    width: 100%;
    min-width: 150px;
    height: 2em;
    border: 2px solid black
}

.formWrapper .formElementWrapper:nth-child(even), .formWrapper .formElementWrapper:nth-child(even) input, .formWrapper .formElementWrapper:nth-child(even) select {
    background-color: lightcyan;
}

    .formWrapper .formElementWrapper:nth-child(even) input, .formWrapper .formElementWrapper:nth-child(even) select {
        background-color: #ccffcc;
    }

.formWrapper .formElementWrapper:nth-child(odd), .formWrapper .formElementWrapper:nth-child(odd) input, .formWrapper .formElementWrapper:nth-child(odd) select {
    background-color: lightblue;
}

.formWrapper .formElementWrapper:nth-child(odd) input, .formWrapper .formElementWrapper:nth-child(odd) select {
        background-color: #ccffcc;
    }

.formWrapper table tbody tr:nth-child(odd) .formElementWrapper {
    background-color: lightblue !important;
}

.formWrapper table tbody tr:nth-child(even) .formElementWrapper {
    background-color: lightcyan !important;
}
